# 의약품처방정보
* https://www.data.go.kr/dataset/15007117/fileData.do
* 의약품처방정보는 2002년부터 2013년까지의 국민건강보험 가입자 중 의약품처방이력이 있는 각 연도별 수진자 100만 명에 대한 기본정보(성, 연령대, 시도코드 등)와 의약품처방전별 개별 의약품에 대한 처방내역(요양개시일자, 1회투약량, 1일투약량, 총투여일수 등)으로 구성된 개방데이터이다.

In [1]:
%ls data/NHIS_OPEN_T60_2016

NHIS_OPEN_T60_2016_PART1.csv* NHIS_OPEN_T60_2016_PART2.csv*

In [2]:
import pandas as pd

In [3]:
nhis = pd.read_csv('data/NHIS_OPEN_T60_2016/NHIS_OPEN_T60_2016_PART1.csv', encoding='euc-kr')
nhis.shape

(20000000, 15)

In [4]:
nhis.columns

Index(['기준년도', '가입자일련번호', '처방내역일련번호', '일련번호', '성별코드', '연령대코드(5세단위)', '시도코드',
       '요양개시일자', '약품일반성분명코드', '1회 투약량', '1일 투약량', '총투여일수', '단가', '금액',
       '데이터공개일자'],
      dtype='object')

In [5]:
nhis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000000 entries, 0 to 19999999
Data columns (total 15 columns):
기준년도           int64
가입자일련번호        int64
처방내역일련번호       int64
일련번호           int64
성별코드           int64
연령대코드(5세단위)    int64
시도코드           int64
요양개시일자         int64
약품일반성분명코드      object
1회 투약량         float64
1일 투약량         int64
총투여일수          int64
단가             float64
금액             int64
데이터공개일자        int64
dtypes: float64(2), int64(12), object(1)
memory usage: 2.2+ GB

In [6]:
nhis.isnull().sum()

기준년도              0
가입자일련번호           0
처방내역일련번호          0
일련번호              0
성별코드              0
연령대코드(5세단위)       0
시도코드              0
요양개시일자            0
약품일반성분명코드      1661
1회 투약량            0
1일 투약량            0
총투여일수             0
단가                0
금액                0
데이터공개일자           0
dtype: int64

In [7]:
pd.options.display.float_format = '{:,.0f}'.format
nhis.describe()

,기준년도,가입자일련번호,처방내역일련번호,일련번호,성별코드,연령대코드(5세단위),시도코드,요양개시일자,1회 투약량,1일 투약량,총투여일수,단가,금액,데이터공개일자
count,"20,000,000","20,000,000","20,000,000","20,000,000","20,000,000","20,000,000","20,000,000","20,000,000","20,000,000","20,000,000","20,000,000","20,000,000","20,000,000","20,000,000"
mean,"2,016","251,892","31,346,455",3,2,9,34,"20,160,673",2,2,11,397,"5,651","20,171,218"
std,0,"145,518","18,109,616",2,0,5,13,359,8,1,19,"2,228","83,428",0
min,"2,016",1,19,1,1,1,11,"20,160,101",0,0,0,0,0,"20,171,218"
25%,"2,016","125,750","15,655,799",2,1,4,27,"20,160,328",1,2,3,53,564,"20,171,218"
50%,"2,016","252,444","31,319,294",3,2,10,41,"20,160,629",1,3,3,116,"1,266","20,171,218"
75%,"2,016","377,747","47,046,749",4,2,14,44,"20,161,012",1,3,7,261,"3,654","20,171,218"
max,"2,016","503,691","62,705,118",56,2,18,49,"20,161,231","20,120",80,840,"357,142","270,000,000","20,171,218"